<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet"  type="text/css" href="welcome.css" />
</head>

<body>
    <button class="button">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 512 512"><title>bluetooth-flat</title><path d="M0,256C0,114.62,114.62,0,256,0S512,114.63,512,256,397.37,512,256,512,0,397.38,0,256Z" fill="#ff352e"/><path d="M339.48,161.45a17.67,17.67,0,0,0-6.64,15.08c.13,2.91-.38,7.18-2.77,9.06L246,251.49c-2.39,1.88-5.39.78-6.47-2.24l-7.25-19.65c-3.74-10.81.47-25.71,9.78-33l7.76-6.52c2.4-1.88,6.19-1.42,9.46-.54a16.59,16.59,0,0,0,17.06-1.79,17.24,17.24,0,1,0-21.28-27.14,16.05,16.05,0,0,0-6.2,13.46c-.13,3.11-1.34,7.06-3.73,8.93l-8.51,6.67c-12,9.39-17.39,28.24-11.93,42.87l7.64,22.35c1.35,2.81.1,7.24-2.3,9.11l-36.71,28.78c-2.39,1.88-6.4,1.14-8.61-.56a34.19,34.19,0,0,0-46.62,49c11.47,14.64,33.09,17,47.73,5.54a34.28,34.28,0,0,0,11-39.11,6.86,6.86,0,0,1,1.72-8.23l62.78-49.21a7.22,7.22,0,0,1,8.67.09l14.92,11.92c11.57,9.83,31.32,9.81,43.29.42l19.42-15.22c2.39-1.88,6.19-1.41,9.19-.32A17.67,17.67,0,0,0,373,244.23a17.24,17.24,0,0,0-21.27-27.13c-4.79,3.76-6.7,9.54-6.66,15.09.34,3.17-.32,6.7-2.71,8.58L323,256c-9.31,7.3-23.52,7.26-32.74-.11l-13.62-10.79c-2.41-2-2-5.31.39-7.19l58.26-45.67c2.39-1.87,6.25-1.88,9-1.06,5.79,1.9,11.66,1.16,16.44-2.59a17.24,17.24,0,1,0-21.27-27.13Z" fill="#fff" fill-rule="evenodd"/></svg>
        <span>connect</span>
    </button>
</body>

</html>


